@{
    ViewData["Title"] = "Grammar";
    Layout = "../Shared/_Layout";
}

<div class="flex-shrink-0">
    <div class="bd-main-interface">
        <main class="bd-interface-body justify-content-md-center">
            <!--Content Here-->
        </main>
    </div>
</div>